/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

body{
  background-color: #FEF9E1;
}

.navbar-index{
  background-color: #E5D0AC;
}

.nav-comp{
  color: #A31D1D;
}

.nav-comp:hover{
  color: #A31D1D;
  cursor: pointer;
}

.btn-nav-s{
  background-color: #A31D1D;
  color: #E5D0AC;
  border: solid 1px #6D2323;
}

.btn-nav-s :hover{
  background-color: #6D2323;
  border: #6D2323 solid 1px;
}

.navbar-title{
  color: #A31D1D;
}

.img-login{
  width: 100%;
}

.login-head{
  color: #A31D1D;
}

.login-div{
  border: solid 1px #6D2323;
  width: 100%;
  background-color: #FEF9E1;
}

.login-label{
  color: #A31D1D;
}

.input-box{
  border: solid 1px #6D2323;
  background-color: #E5D0AC;
}

.login-main-div{
  border: 1px solid #6D2323;
  background-color: #E5D0AC;
}

.discover-img{
  width: 80%;
  height: max-content;
}


.nunito-sans-<uniquifier> {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.discover-text{
  color: #A31D1D;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 25px;
}

.discover-btn{
  background-color: #A31D1D;
  color: #E5D0AC;
  margin-left: 65px;
}

.hero-div{
  color: #A31D1D;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}